# File that sometimes appears on MacOS
.DS_Store

# Dependency directories
node_modules/

# Cypress sample directories and files
cypress/integration/1-getting-started/
cypress/integration/2-advanced-examples/

