body {
  background-color: green;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  min-width: 75%;
  margin: 0 auto;
}

.img-fluid {
  min-width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.card {
  width: 175px;
  border-radius: 25px;
  margin: 0 10px;
}

.btn {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 10px;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.card-row {
  background-color: darkgreen;
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 25px;
}

.hold-badge {
  padding: 2px;
  background-color: yellow;
  text-align: center;
  border: 2px solid red;
  width: max-content;
  border-radius: 5px;
  font-weight: 800;
  margin: auto;
  display: none;
}

.result {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 47%;
  width: max-content; /* Need a specific value to work */
  font-size: 4rem;
  font-weight: 600;
  background-color: blue;
  color: red;
  -webkit-text-stroke: 2.5px yellow;
  text-transform: uppercase;
}
