*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  max-width: 500px;
  margin: 0 auto;
  background-color: #16d6fb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: space-around;
  border-bottom: 5px solid black;
  background-color: #ffcc00;
  height: 78px;
  align-items: center;
}

.credits {
  transition: background 0.5s ease-out;
}

.cards-container {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 0;
  max-width: 375px;
}

.held {
  border: 1px solid #212529;
  border-radius: 10%;
}

.card {
  margin: 0 5px 5px 5px;
  padding: 0 5px 5px 5px;
  display: inline-block;
}

.card:hover {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
}

.card-back {
  width: 42px;
  height: 42px;
}

.container {
  padding: 1rem;
}

.game-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
}

.guide-buttons {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #0075be;
}

.balloon {
  padding: 10px;
  display: block;
}

.balloon-message {
  height: 50px;
}

.wins {
  display: block;
  margin-top: 1.5rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.dialog-content > div {
  overflow-x: hidden;
}
