*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --card-width: 12vw;
  --card-height: 18.72vw;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: rgb(216, 216, 216);
}
h1 {
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
div {
  font-size: 2vw;
}

img {
  max-width: 100%;
  min-width: 100%;
}
button {
  margin: 1em;
  font-size: 0.5em;
  height: 1.6em;
}
input {
  margin: 0.5em;
  font-size: 0.5em;
  height: 1.6em;
  text-align: center;
}
.absolute {
  position: absolute;
}
.hide {
  visibility: hidden;
}
.inline-block {
  display: inline-block;
}

.game-container {
  font-family: "Tourney", cursive;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 0 3px yellow, 0 0 5px white;
  width: 90vw;
}
.refill-overlay {
  display: none;
  position: fixed;
  z-index: 100;
  padding: 30vh 20vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.refill-window {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  flex-wrap: wrap;
  text-shadow: 0 0 3px white, 0 0 5px cyan;
  width: 60vw;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(116, 116, 116);

  position: absolute;
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
.cardAnimateDiscard {
  animation-name: fadeout;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0% {
    transform: translate(-60vw, -0px);
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.cardAnimateOpenNew {
  z-index: -1;
  animation-name: fromLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
}
.resetMessage {
  font-size: 1.5em;
  text-shadow: 0 0 3px white, 0 0 5px cyan;
  align-self: center;
}

.holder {
  font-size: 0.7em;
  background-color: rgba(0, 0, 0, 0.19);
  transform: translate(0px, calc(var(--card-height) * -1.013));
  text-align: center;
  line-height: 1.6;
}

.large-button {
  font-family: "Tourney", cursive;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 0 3px yellow, 0 0 5px white;
  background-color: transparent;
  border: 0px;

  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 0px 1em;
  cursor: pointer;
}
.button-bottom-border {
  border-bottom: 2px solid black;
}
.cardimg {
  width: var(--card-width);
  height: var(--card-height);
}
.results {
  width: 30vw;
  text-shadow: 0 0 3px white, 0 0 5px cyan;
}
.table-container {
  width: 90vw;
  display: flex;
  justify-content: flex-end;
  margin-top: 0.67em;
}
table {
  text-align: left;
  font-family: "Yomogi", cursive;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-size: 0.5em;
  text-shadow: none;
  border-collapse: collapse;
}
td,
th {
  border: 1px solid rgb(116, 116, 116);
  padding: 0.2em;
}
th {
  width: 10vw;
}
td {
  width: 5vw;
}

.hightlight-row {
  box-shadow: 0 0 10px cyan inset, 0 0 5px white inset, 0 0 10px cyan,
    0 0 5px white;
}
.highlight-text {
  text-shadow: 0 0 3px cyan, 0 0 5px white;
}
.table-button {
  /* text-shadow: none; */
  /* border-bottom: 1px solid black; */
}

.top-bar {
  width: 90vw;
  display: flex;
  margin-bottom: 0.67em;
  justify-content: space-between;
  align-items: flex-end;
}

.middle-bar {
  width: 90vw;
  /* border: 3px dotted blueviolet; */
  /* padding: 20px; */
}
.bottom-bar {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.tokencontainer {
  width: 5vw;
  position: relative;
}
.betcontainer {
  width: 10vw;
  height: 7vw;

  position: relative;
}
.arrow-up {
  display: block;
  border-left: 1vw solid rgb(216, 216, 216);
  border-right: 1vw solid rgb(216, 216, 216);
  border-bottom: 1vw solid lightslategray;
  border-top: 0px;
  padding: 0px;
}

.arrow-down {
  display: block;
  border-left: 1vw solid rgb(216, 216, 216);
  border-right: 1vw solid rgb(216, 216, 216);
  border-top: 1vw solid lightslategray;
  border-bottom: 0px;
  padding: 0px;
}
.bet-arrows {
  margin: 0.5vw;
  text-align: center;
  display: inline-block;
  right: 0px;
  position: absolute;
}

.hand-container {
  vertical-align: top;
  width: 75vw;
  height: var(--card-height);
  display: inline-flex;
  justify-content: center;
}
.card {
  margin: 0.5em;
  width: var(--card-width);
  height: var(--card-height);
  display: inline-block;
  /* z-index: 1; */
  perspective: 1000px;
}

.card-inner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

@keyframes flipCard {
  from {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }
}

.card-flip {
  /* might need moz */
  transform-style: preserve-3d;
  animation-name: flipCard;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.openCard,
.closeCard {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.openCard {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

@keyframes float-up {
  from {
  }
  to {
    transform: translate(0px, -25vh);
    opacity: 0;
  }
}

.sign-float {
  font-size: 1em;
  animation-name: float-up;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.credit-container {
  display: block;
}

@media only screen and (max-width: 420px) {
  div {
    font-size: 1em;
  }
  body {
    align-items: flex-start;
  }
  :root {
    --card-width: 10vw;
    --card-height: 15.6vw;
  }

  .table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.67em;
  }
  th {
    width: 30vw;
  }
  td {
    width: 10vw;
  }

  .bottom-bar {
    display: flexbox;
    width: 100%;
    justify-content: flex-end;
    height: 0px;
  }
  @keyframes fromTop {
    0% {
      transform: translate(-60vw, -0px);
      opacity: 0;
    }
  }
  .holder {
    font-size: 0.5rem;
  }
  .resetMessage {
    font-size: 0.8rem;
    text-shadow: 0 0 1px cyan, 0 0 2px white;
  }
  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
  }

  .large-button {
    font-size: 0.8rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .results {
    font-size: 0.8rem;
    width: 90vw;
    margin: 0.5rem 0.5rem;
    text-align: left;
    text-shadow: none;
    transform: translate(0px, -3em);
  }
  .button-bottom-border {
    border-bottom: 1px solid black;
  }
  .tokencontainer {
    width: 20vw;
  }
  .betcontainer {
    display: block;
    width: 35vw;
    transform: translate(0px, 12vw);
  }

  .arrow-up {
    display: block;
    border-left: 1.5em solid rgb(216, 216, 216);
    border-right: 1.5em solid rgb(216, 216, 216);
    border-bottom: 1.5em solid lightslategray;
  }
  .arrow-down {
    display: block;
    border-left: 1.5em solid rgb(216, 216, 216);
    border-right: 1.5em solid rgb(216, 216, 216);
    border-top: 1.5em solid lightslategray;
  }

  .bet-arrows {
    margin: 0px;
  }
  .credit-container {
    transform: translate(0px, 35vw);
    position: absolute;
  }
  .box-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  }
  .card-inner {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  }
  @keyframes float-up {
    to {
      transform: translate(0px, -20vw);
    }
  }
}
