body {
  background-color: #437b99;
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 1em;
}

.h2 {
  float: left;
  background: white;
  color: #222;
  padding: 10px;
  border-radius: 10px;
  border: double 5px;
  font-size: 3em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

#card0,
#card1,
#card2,
#card3,
#card4 {
  display: inline-block;
  border: 3px solid#ffd966;
  height: 4em;
  width: 3em;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2em;
  margin: 0.5em;
}

#card0:hover,
#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover {
  background-color: black;
  color: white;
}

.card {
  display: inline-block;
  border: 3px solid#ffd966;
  height: 4em;
  width: 3em;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 2em;
  margin: 0.5em;
}

.selected {
  background-color: black;
  color: white;
  display: inline-block;
  border: 3px solid#ffd966;
  height: 4em;
  width: 3em;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  margin: 0.5em;
}

#draw-btn,
#swap-btn,
#lock-btn,
#reset-btn {
  background-color: black;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

#draw-btn:hover,
#swap-btn:hover,
#lock-btn:hover,
#reset-btn:hover {
  background-color: yellow;
  color: black;
}
