#header {
  font-family: "cursive";
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@-webkit-keyframes glow2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2300e6,
      0 0 40px #2300e6, 0 0 50px #2300e6, 0 0 60px #2300e6, 0 0 70px #2300e6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #5f4dff, 0 0 40px #5f4dff,
      0 0 50px #5f4dff, 0 0 60px #5f4dff, 0 0 70px #5f4dff, 0 0 80px #5f4dff;
  }
}

body {
  background-color: black;
}
/* Also given a parent-1 class */
#gameContainer {
  background-color: black;
  height: 860px;
}

/* Also given a child class */
#score-board-container {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 60%;
  margin: auto;
  border: thick solid #0ff;
}

.table {
  text-align: center;
}

td {
  padding: 1px;
  width: 200px;
}

tr {
  border: 1px black solid;
  background-color: black;
  font-family: "Teko", sans-serif;
  font-size: 25px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
}

/* Also given a child class */
.playerHand {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 400px;
  width: 80%;
  margin: auto;
}

.square {
  margin: 10px;
  /* background-color: red; */
  background: linear-gradient(
    45deg,
    #e6fb04,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  );
  animation: animate 20s linear infinite;
  display: inline-block;
  height: 300px;
  width: 200px;
  text-align: center;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.clickedContainer {
  margin: 10px;
  background: white;
  display: inline-block;
  height: 300px;
  width: 200px;
  text-align: center;
}

.card-pic {
  padding: 10px 0;
  width: 180px;
  height: 280px;
}

#button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 100px;
  width: 80%;
  margin: auto;
  font-family: "Teko", sans-serif;
}

#msgContainer {
  background-color: black;
  height: 300px;
  text-align: center;
}

/* #deal-button,
#bet-one-button,
#bet-max-button {
  font-family: "Teko", sans-serif;
  padding: 15px 30px;
  color: #2196f3;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

#deal-button:hover,
#bet-one-button:hover,
#bet-max-button:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
} */

#deal-button,
#bet-one-button,
#bet-max-button {
  font-family: "Teko", sans-serif;
  padding: 15px 30px;
  background-color: black;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#deal-button:hover,
#bet-one-button:hover,
#bet-max-button:hover {
  background: black;
  box-shadow: 0 0 30px #ff4da6;
}

#player-credit {
  font-family: "Teko", sans-serif;
  padding: 20px;
  margin-top: 20px;
  margin-right: 30px;
  color: #fff;
  font-size: 35px;
  -webkit-animation: glow3 1s ease-in-out infinite alternate;
  -moz-animation: glow3 1s ease-in-out infinite alternate;
  animation: glow3 1s ease-in-out infinite alternate;
}

#bet-msg {
  font-family: "Teko", sans-serif;
  padding: 20px;
  margin-right: 30px;
  color: #fff;
  font-size: 35px;
  -webkit-animation: glow3 1s ease-in-out infinite alternate;
  -moz-animation: glow3 1s ease-in-out infinite alternate;
  animation: glow3 1s ease-in-out infinite alternate;
}

#player-msg {
  font-family: "Teko", sans-serif;
  padding: 20px;
  margin-right: 30px;
  color: #fff;
  font-size: 35px;
  -webkit-animation: glow3 1s ease-in-out infinite alternate;
  -moz-animation: glow3 1s ease-in-out infinite alternate;
  animation: glow3 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e613,
      0 0 40px #00e613, 0 0 50px #00e613, 0 0 60px #00e613, 0 0 70px #00e613;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #5cff4d, 0 0 40px #5cff4d,
      0 0 50px #5cff4d, 0 0 60px #5cff4d, 0 0 70px #5cff4d, 0 0 80px #5cff4d;
  }
}
