*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #736b5e;
  font-family: monospace;
  font-size: 1.15rem;
}

.overall-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  /* border: 3px solid black; */
}

.section {
  display: flex;
  background-color: darkgrey;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
}

.card-combo-container {
  font-size: 1.1rem; /* changed from 3rem */
  height: 250px; /* changed from 150px */
  border: 3px solid darkred;
  justify-content: space-around;
  /* font-weight: bold; */
}

.game-container {
  height: 250px;
  /* width: 500px; */
  background-color: darkgreen;
  border-radius: 150px;
  font-size: 3rem;
  color: darkorange;
  text-align: center;
}

.output-container {
  height: 60px;
  /* border: 3px solid darkred; */
}
/* 
.score-board {
  border: 3px solid orange;
} */

.btn {
  /* border-radius: 20%; */
  font-family: monospace;
  cursor: pointer;
  width: 90px;
  height: 45px;
  font-weight: bold;
  font-size: 1rem;
}

.input-container {
  display: inline-block;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.status-container {
  font-size: 1rem;
  /* border: 3px solid darkred; */
}

.card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  text-align: center;
  width: 50px;
}

.clicked {
  border: 3px solid orange;
}

.suit {
  margin: 5px;
  font-size: 20px;
  align-items: center;
}

.name {
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}

.red {
  color: red;
}

.black {
  color: black;
}

.card:hover {
  border: 3px solid orange;
}

.highLightBoard {
  color: red;
}

img {
  width: 50px;
  border-radius: 5px;
  margin: 10px;
}
