body {
  background-color: pink;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
  font-family: Brush Script MT;
  margin: 0%;
}

h3 {
  text-align: center;
  margin-top: 0%;
}

.instructions {
  display: table;
  margin: 0 auto;
}

ol {
  /* list-style: none; */
  padding-left: 25px;
}

li {
  margin-bottom: 3px;
}

.player-points {
  font-weight: bolder;
  text-align: center;
}

.response-container {
  display: flex;
  justify-content: center;
}

.feedback-message {
  opacity: 0;
  font-weight: bold;
  text-align: center;
}

.opaque {
  opacity: 1;
}

/* .bet-input {
  display: inline-block;
  width: 40%;
}

.deal-button {
  display: inline-block;
  height: 50%;
} */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  padding: 5px;
  margin: 10px;
  background-color: white;
  display: inline-flex;
  height: 140px;
  width: 85px;
  /* vertical-align: top; */
  border-radius: 5px;
  text-align: center;
  justify-content: space-between;
}

.clicked-card {
  position: relative;
  background-color: gray;
}

.suit {
  margin: -5px;
  font-size: 20px;
}

.name {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.card-details-bottom {
  transform: rotate(180deg);
}

.disable-click {
  pointer-events: none;
}
