body {
  max-width: 500px;
  background-color: cadetblue;
  position: relative;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 8px;
}

.page-heading {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5vh;
  margin: 3px;
}

.score-table {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 8px;
}

.centered-table {
  text-align: center;
  /* border: 1px solid; */
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid;
  padding: 3px;
}

.highlight-column {
  background-color: lightcoral;
}

.game-instructions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  font-size: 1.5vh;
  font-family: monospace;
  padding: 8px;
}

.game-message {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  font-size: 2vh;
  font-family: monospace;
  padding: 8px;
}

.credits-bet {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding: 8px;
}

.card-graphic {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

/* @keyframes turn-card {
  from {
    background-color: grey;
    color: grey;
  }
  to {
    background-color: white;
  }
} */
.card {
  margin: 5px;
  padding: 10px;
  background-color: white;
  width: 50px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  justify-items: center;
  /* animation-name: turn-card;
  animation-duration: 6s; */
}

.hold-card {
  margin: 5px;
  padding: 10px;
  background-color: white;
  width: 60px;
  height: 90px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.suit {
  margin: 5px;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.name {
  margin: 5px;
  font-size: 38px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}

.black {
  color: black;
}
