*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-family: "Train One";
  font-size: 3rem;
  text-shadow: 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 0, 221),
    0 0 82px rgb(255, 0, 221), 0 0 92px rgb(255, 0, 221),
    0 0 102px rgb(255, 0, 221), 0 0 151px rgb(255, 0, 221);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.883);
  color: white;
}

#hand {
  display: flex;
  justify-content: space-evenly;
  height: 80%;
  min-height: 11.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  border-radius: 0.5rem;
  min-width: 6rem;
  min-height: 11.5rem;
  max-height: 10rem;
  max-width: 16rem;
  height: 60%;
  width: 16%;
  position: relative;
  display: inline-block;
  background-image: url("./images/backcard.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

img {
  width: 100%;
  height: 100%;
  min-height: 11.5rem;
  object-fit: fill;
}

#table {
  width: 60rem;
  height: 30rem;
  margin: 0 auto;
}

#screen {
  width: 100%;
  height: 100%;
  min-height: 40rem;
  max-width: 50rem;
  display: inline-block;
  margin: 0 auto;
  margin-top: 5rem;
}

.score {
  display: inline-block;
  text-align: left;
  width: 12%;
  border: 2px solid rgb(255, 0, 221);
  background-color: rgba(0, 0, 139, 0.514);
  padding: 1rem;
}

#hand-rank {
  position: relative;
  left: 0rem;
  text-transform: capitalize;
  display: inline-block;
  text-align: left;
  width: 32%;
  padding: 1rem;
  border: 2px solid rgb(255, 0, 221);
  background-color: rgba(0, 0, 139, 0.514);
}

.hold {
  position: absolute;
  top: 40%;
  width: 100%;
  padding: 1rem;
  background-color: hsla(236, 40%, 43%, 0.5);
  color: black;
  font-weight: bold;
}

.chosen_score {
  background-color: hsla(325, 82%, 55%, 0.753);
}

button {
  font-family: "Roboto";
  font-size: 16px;
  width: 7rem;
  background-color: white;
  color: rgb(0, 0, 139);
  font-weight: bold;
  border: 2px solid rgba(0, 0, 139, 0.514);
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 139, 0.514);
  color: #fff;
}

#bet-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.bets {
  width: 9rem;
  display: inline-block;
  border: 2px solid rgba(0, 0, 139, 0.514);
  height: 7rem;
  padding: 1rem;
  color: white;
  background-color: rgba(255, 0, 221, 0.397);
}

#output {
  background-color: rgba(255, 0, 221, 0.397);
  color: white;
  width: 100%;
}

.popup {
  position: fixed;
  padding-top: 5rem;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  color: #fff;
  font-family: "Train One";
  font-size: 3rem;
  text-shadow: 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(255, 0, 221),
    0 0 82px rgb(255, 0, 221), 0 0 92px rgb(255, 0, 221),
    0 0 102px rgb(255, 0, 221), 0 0 151px rgb(255, 0, 221);
  background-image: url("./neon-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid white;
  width: 90%;
  height: 45%;
  margin: 0 auto;
}
