body {
  display: flex;
  justify-content: center;
}

.img-loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-loading {
  border-radius: 200px;
  display: flex;
}
.poker-root {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.card-img {
  display: flex;
  height: 25vh;
  aspect-ratio: 2 / 3;
  border: 1px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.poker-name-display {
  display: flex;

  height: 1rem;
  background-color: olive;
  margin-top: 1.5rem;
  border-radius: 10px;
  color: white;

  justify-content: center;
  align-items: center;
}

.poker-name-banner {
  display: flex;
  margin-top: 10px;
  border-radius: 10px;
  color: olive;
  justify-content: center;

  text-align: center;
}

.poker-name-input {
  display: flex;
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  transition-property: border-right;
  transition-duration: 5000ms;
  border-right: 1px solid black; /* added property */
}

.poker-game-wrapper-prob-checkboxes-desc {
  width: fit-content;
  display: flex;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.poker-game-wrapper-prob-checkboxes-group {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.poker-game-config-button-start {
  display: flex;
  margin-top: 10px;
  padding: 0px 10px;

  background-color: white;
  color: olive;
  border: 1px solid grey;
  border-radius: 3px;
}

.poker-game-config-button-start:hover {
  background-color: olive;
  color: white;
}
.poker-game-checkbox-label {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 10px;

  padding: 0;
  justify-content: center;
  align-items: center;
}
.poker-game-config-checkbox {
  accent-color: olive;
}
.poker-wrapper-game-modes {
  display: flex;
  margin: 1rem 0 0 0;
}
.poker-game-mode-stud-seven {
  display: flex;
  background-color: white;
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;

  background: linear-gradient(to left, black 40%, firebrick 60%, black 80%);
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: wipe 1s linear infinite;
}

@keyframes wipe {
  to {
    background-position: 200% center;
  }
}

.poker-game-config-checkbox-desc {
  display: flex;
  white-space: nowrap;
  margin: 0 0 0 10px;
  padding: 0;
}

.card-holder {
  display: flex;
  height: 100%;
  width: auto;
}

.poker-hand {
  display: flex;
  flex-direction: row;
}
